body {
  background: linear-gradient(to bottom right, #e8f5e9, #f0f0f0);
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 480px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 2
